<div class="account_new">
	<h2><%= @account.id ? "Edit: #{@account.bank}" : "New Account" %></h2>
	<% form_for(@account) do |f| %>
		<%= f.error_messages %>
		<dl class="crud">
			<dt><%= f.label :agency %></dt>
			<dd><%= f.text_field :agency %></dd>
	
			<dt><%= f.label :bank %></dt>
			<dd><%= f.text_field :bank %></dd>

			<dt><%= f.label :number %></dt>
			<dd><%= f.text_field :number, :maxlength => 10  %></dd>
		
			<%= f.submit "Create", :class => 'button', :value => 'Save' %>
			<%= f.submit "Cancel", :class => 'button', :value => 'Cancel' %>
		</dl>
	<% end %>
</div>